@keyframes heartbeat {
  0% {
    transform: scale( 1 ) rotate(-45deg);    
  }
  40% {
    transform: scale( 1.5 ) rotate(-45deg)
      translateX(9%) 
      translateY(10%);
  }
}

.heart {
  animation: heartbeat 2s infinite;
  background-color: #0f52ba;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  margin: 32px;
  width: 50px;
  margin-right: 16px;
  margin-bottom: 4px;
}

#lone {
  display: block;
}

#hearts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #0f52ba;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  min-width: 90%;
  margin: 32px auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  min-height: 80%;
  padding: 25px;
}

.main > ul {
  padding: 0;
}

.line {
  border-top: 0;
  width: 2px;
  height: 90%;
  margin-left: 16px;
  margin-right: 16px;
  background-color: black;
  display: block;
}

#button {
  display: block;
  width: 50%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0f52ba;
  border: 1px solid transparent;
  margin: 16px auto;
  color: white;
  font-size: 1.5em;
  border-radius: 30px;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

#icon {
  margin: 8px;
  width: 70%;
  height: 200px;
}

.center_text {
  text-align: center;
}

#details {
  display: flex;
  flex-flow: column wrap;
  margin: 40px 0;
}

.detail {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 12px;
}

.detail_text {
  text-align: center;
  font-size: 180%;
  font-family: "Lato", sans-serif;
}

.detail_icon {
  margin-right: 16px;
}

#rsvp {
  font-family: "Molle", cursive;
}

#attribution {
  position: absolute;
  right: 36px;
  bottom: 8px;
  color: lightgray;
  padding: 8px;
}

.guest {
  padding: 4px 16px;
  background-color: #0f52ba;
  color: white;
  font-size: 150%;
  margin: 4px auto;
  border-radius: 25px;
}

.dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: white;
  margin-right: 8px;
  border-radius: 25px;
}

/*----------------------------
------------------------------
-------- DESKTOP ONLY --------
------------------------------
----------------------------*/

@media only screen and (min-width: 768px) {
  .main {
    width: 520px;
  }

  #button {
    align-self: flex-end;
  }
}

input {
  display: block;
  border: 2px solid #0f52ba;
  border-radius: 25px;
  margin: 4px 0 8px;
  padding: 4px 0;
  text-indent: 16px;
  font-size: 2em;
  outline: none;
}
